.sidebar {
  color: #000 !important;
  overflow: hidden;
}
.sidebarImg {
  width: 40px;
}
.sidebarWidth {
  width: 17% !important;
}

@media (max-width: 768px) {
  .sidebarWidth {
    width: 17% !important;
  }
  .sidebarImg{
    display: none;
  }
}

.sidebar hr {
  border: 1px solid black;
}
