@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}
input {
  border: none !important;
  border-bottom: 1px solid #999 !important;
  padding: 6px 30px;
}
input:focus {
  box-shadow: none !important;
}
